<%- include('./../_partials/header'); -%>
<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <center><img src="imagens/logo.png"></center>
      </div>
      <div class="col-md-8">
        <nav class="navbar navbar-expand-lg navbar-light ">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="cadastros.php">Cadastros</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Invetários</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Lotes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="relatorios.php">Relatórios</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Ajuda</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </div>
</section>
<section class="titulosec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="titulorel">Adicionar Lote</h3>
      </div>
    </div>
  </div>
</section>
<section class="botoes">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <form class="formbusca" action="/lotes" method="POST">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Código </label>
                <input type="txt" class="form-control" placeholder="00001" name="codigo">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Descrição</label>
                <input type="txt" class="form-control" placeholder="Descrição" name="descricao">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Área</label>
                <input type="txt" class="form-control" placeholder="12" name="area">
              </div>
            </div>
            <!--  <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Tipo</label>

                <select class="form-control" name="tipo">
                  <option value="1">Geral</option>
                  <option value="2">Parcial</option>
                  <option value="3">Preço</option>
                  <option value="4">Presença</option>
                  <option value="5">Reposição</option>
                  <option value="6">Pesquisa</option>
                </select>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Inventario</label>

                <select class="form-control" name="id_inventario">
                  <!--  <option value="1">Geral</option>
                  <option value="2">Parcial</option>
                  <option value="3">Preço</option>
                  <option value="4">Presença</option>
                  <option value="5">Reposição</option>
                  <option value="6">Pesquisa</option> -->

                  <% for(var i=0;i<info_inventarios.length; i++) {%>

                  <option value="<%= info_inventarios[i].Id %>"><%= info_inventarios[i].Descricao %></option>



                  <%} %>
                </select>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group">
                <label for="exampleFormControlInput1">Status</label>
                <select class="form-control" name="status">
                  <option value="1">Aberto</option>
                  <option value="2">Fechado</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-2 col-sm-12">
            <a href="#"></a><button type="submit" class="btn btn-success">Salvar</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</section>
<%- include('./../_partials/footer'); -%>