<%- include('./_partials/header'); -%>

<section class="header">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <center><img src="imagens/logo.png"></center>
      </div>

    </div>
  </div>
</section>
<section class="titulosec">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3 class="titulorel">Fazer Login</h3>
      </div>
    </div>
  </div>
</section>
<section class="botoes">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <!-- <form class="formbusca" method="POST" action="api/dologin.php">
          <div class="row">

            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Login:</label>
                <input type="text" class="form-control" placeholder="Login" name="login">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <label for="exampleFormControlInput1">Senha:</label>
                <input type="password" class="form-control" placeholder="Senha">
              </div>
            </div>



            <div class="col-md-2 col-sm-12"> <br>
              <a href="#"></a><button type="submit" class="btn btn-success">Login</button>
            </div>
          </div>
        </form> -->

        <!-- <button id="btnSignIn" class="btn btn-primary btn-block">Sign In</button> -->
        <a href="/login/?p=B2C_1_PolEntradaB2C" class="btn btn-primary btn-block">Fazer Login</a>
        <div id="json"></div>
      </div>

    </div>
  </div>
</section>
<%- include('./_partials/footer'); -%>