@import url('https://fonts.googleapis.com/css?family=Jura');
.header {
    padding: 20px;
    background: #333333;
    border-bottom: 4px solid #00924a
}
.nav-link {
    color: #fff!important;
    font-size: 20px;
    font-family: 'Jura', sans-serif;
}
.nav-link:hover {
    border-bottom: 2px solid #00924a
}
.nav-item {
    padding-left: 40px
}
.botoes {
    margin-top: 35px
}
.titulo {
    text-align: center;
    padding-bottom: 20px;
    font-family: 'Jura', sans-serif;
}
.quadrado {
    border-radius: 0;
    width: 100%;
    max-width: 350px;
    padding: 10px;
    border-bottom: 3px solid #026e39;
    font-family: 'Jura', sans-serif;
    margin-bottom: 10px
}
.quadradobusca {
    border-radius: 0;
    width: 100%;
    max-width: 350px;
    border-bottom: 3px solid #026e39;
    font-family: 'Jura', sans-serif;
    margin-bottom: 10px  
}
.contato {
    background: #333333;
    padding: 35px;
    margin-top: 35px
}
.dadoscontato {
    font-size: 18px;
    font-weight: normal;
    color: #fff;
    font-family: 'Jura', sans-serif;
    text-align: center;
    margin-top: 14px
}
.green {
    color: #00924a;
}
.direitotexto {
    text-align: center;
    font-family: 'Jura', sans-serif;
    margin-top: 15px
}
.titulosec {
    background: #026e39;
    padding: 35px;
    margin-top: 0px;
}
.titulorel {
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-family: 'Jura', sans-serif;
}
.formbusca {
    margin-bottom: 20px
}