<section class="contato">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <center><img src="imagens/logo.png"></center>
        <h4 class="dadoscontato"><i class="fa fa-phone-square green" aria-hidden="true"></i> (11) 4130-7713</h4>
        <h4 class="dadoscontato"><i class="fa fa-envelope green" aria-hidden="true"></i> comercial@validcode.com.br</h4>
        <h4 class="dadoscontato"><i class="fa fa-map-marker green" aria-hidden="true"></i> Avenida Ibiúna, 737 - Vila
          Aricanduva - 03507-010 - São Paulo/SP</h4>
      </div>
    </div>
  </div>
</section>
<section class="direitos">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <p class="direitotexto">© 2019 Validcode. Todos os direitos reservados.</p>
        <center><img src="imagens/maples.png"></center>
      </div>
    </div>
  </div>
</section>
</body>

</html>